* {
}
/* unvisited link */
a:link {
   text-decoration: none;
}
/* mouse over link */
a:hover {
    text-decoration: none;
}
.ba-action {
    text-align: middle;
}
.logo {
    margin: 10px auto;
    padding: 0;
    display: block;
    width: 100%;
}
.address, .phone {
    display: block;
    text-align: middle;
    margin: 12px 0;
    color: #ffffff;
    background: #0f4759/*#092a36*/;
    padding: 8px 35px;
    border-radius: 6px;
    font-size: 12px;
}
.phone {
    text-align: left;
}
.navrow {
    margin-top: 1rem;
    padding: 0px 15px;
}
.nav .nav-link {
    color: #0f4759 !important;
}
.nav .nav-link:hover {
    text-shadow: 0.5px 1px #000;
}
.nav .nav-link.active {
    background-color: #0f4759 !important;
    color: #fff !important;
    text-decoration: none;
}
.tab-pane h4, .tab-pane h5 {
  font-family: 'Work Sans', sans-serif !important;
}
.jumbotron {
    background-color: #c0c4c4;
    /*background-image:;
    background: url(https://jimtrippe.github.io/WacoPrimaryCare/resources/images/home0101.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding: 20px 0;
}
.randbg {
    background: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding: 20px 0;
}
.randbg.bg1 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/1.jpg');
}
.randbg.bg2 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/2.jpg');
}
.randbg.bg3 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/3.jpg');
}
.randbg.bg4 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/4.jpg');
}
.randbg.bg5 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/5.jpg');
}
.randbg.bg6 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/6.jpg');
}
.randbg.bg7 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/7.jpg');
}
.randbg.bg8 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/8.jpg');
}
.randbg.bg9 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/9.jpg');
}
.randbg.bg0 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/0.jpg');
}
.tab-pane {
    font-family: 'Roboto', sans-serif !important;
    width: 75%;
    color: #ffffff;
    background-image: linear-gradient(to right, #0f4759, transparent);
    padding: 10px;
}
.modal-title, .modal-body {
    color: #219fc2;
}
 .tab-pane#pills-home {
    font-family: 'Just Another Hand', cursive !important;
    background-image: linear-gradient(to right, #0f4759);
    font-size: 1.7em;
    font-stretch: 2em;
}
.contact {
    padding-left: 15px;
}
#services .col-md {
    background-color: #219fc2;
    margin: 30px 20px 0px 20px;
    padding: 15px 10px;
    border-radius: 5px;
}
.fas, .far, .fa-megaport {
    color: #e3e7e8;
    padding-left: 15px;
    font-size: 2em;
}
.serv-title {
    color: #e3e7e8;
    margin-left: 10px;
}
.col-md p {
    color: #e3e7e8;
    font-size: 14px;
}
.btn #services {
    align: middle;
    margin-top: 20px;
    background-color: #219fc2;
    font-size: 18px;
    padding: 8px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.hand {
    font-family: 'Gochi Hand', cursive !important;
    font-size: 16px !important;
}
q {
  font-size: 14px;
}
.foot {
    margin-top: 25px;
    padding: 10px 15px;
    background-color: #176d87;
}
.foot span {
    font-size: 10px;
}
#social {
    color: #000000;
    font-size: 3em;
}
.foot-right .btn {
    align: middle;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #176d87;
    font-size: 9px;
    padding: 2px 10px;
    border-radius: 6px;
    color: #000000;
    border: 1px solid #000000;
}
/* Natural Responsive View */
@media (max-width: 992px) {
  .tab-pane {
      width: 100%;
  }
}
