* {
}
/* unvisited link */
a:link {
   text-decoration: none;
}
/* mouse over link */
a:hover {
    text-decoration: none;
}
.ba-action {
    text-align: middle;
}
.logo {
    margin-top: 18px;
    padding: 0;
    align-content: center;
}
.address, .phone {
    display: block;
    text-align: middle;
    margin: 18px 0;
    color: #ffffff;
    background: #0f4759/*#092a36*/;
    padding: 8px 35px;
    border-radius: 6px;
    font-size: 14px;
}
.phone {
    text-align: left;
}
.navrow {
    margin-top: 1rem;
    padding: 0px 25px;
}
.nav .nav-link {
    color: #0f4759 !important;
}
.nav .nav-link:hover {
    text-shadow: 0.5px 1px #000;
}
.nav .nav-link.active {
    background-color: #0f4759 !important;
    color: #fff !important;
    text-decoration: none;
}
.tab-pane h4, .tab-pane h5 {
  font-family: 'Work Sans', sans-serif !important;
}
.jumbotron {
    /*background-image:;
    background: url(https://jimtrippe.github.io/WacoPrimaryCare/resources/images/home0101.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding: 20px 0;
}
.randbg {
    background: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 0;
    padding: 20px 0;
}
.randbg.bg1 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/1.jpg');
}
.randbg.bg2 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/2.jpg');
}
.randbg.bg3 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/3.jpg');
}
.randbg.bg4 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/4.jpg');
}
.randbg.bg5 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/5.jpg');
}
.randbg.bg6 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/6.jpg');
}
.randbg.bg7 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/7.jpg');
}
.randbg.bg8 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/8.jpg');
}
.randbg.bg9 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/9.jpg');
}
.randbg.bg0 {
    background-image: url('https://jimtrippe.github.io/WacoPrimaryCare/resources/random/images/0.jpg');
}
.tab-pane {
    font-family: 'Roboto', sans-serif !important;
    width: 65%;
    color: #ffffff;
    background-image: linear-gradient(to right, #0f4759, transparent);
    padding: 10px;
}
 .tab-pane#pills-home {
    font-family: 'Just Another Hand', cursive !important;
    background-image: linear-gradient(to right, #0f4759);
    font-size: 1.7em;
    font-stretch: 2em;
}
#services .col-sm {
    background-color: #219fc2;
    margin: 30px 20px 0px 20px;
    padding: 15px 10px;
    border-radius: 5px;
}
.fas, .far {
    color: #e3e7e8;
    padding-left: 15px;
    font-size: 2em;
}
.serv-title {
    color: #e3e7e8;
    margin-left: 10px;
}
.col-sm p {
    color: #e3e7e8;
    font-size: 14px;
}
.btn {
    align: middle;
    margin-top: 20px;
    background-color: #219fc2;
    font-size: 18px;
    padding: 8px 22px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #ffffff;
}
.hand {
    font-family: 'Gochi Hand', cursive !important;
    font-size: 12px;
}
.foot {
    position: relative;
    margin-top: 25px;
    background-color: #176d87;
}
.foot#left {
    align-items: left !important;
}
.foot span {
    font-size: 10px;
}
.foot-right {
      position: absolute !important;
      right: 15px;
}
#social {
    font-size: 3em;
    align-items: center !important;
}

/* Natural Responsive View 001 */
@media only screen and (max-width: 885px) {
  /* Less than 880 pixel screen natural break */
